In [1]:
import init
import os

In [3]:
from Class import URL
from const import TRAINING_FOR_WORKER,TRAINING_FOR_ENTERPRISE,TRAINING_FOR_MIDDLE_AGED,TRAINING_FOR_JOB_HUNTER,INFO_TYPE
from training_list_controller import get_training_list
from training_schedule_controller import get_training_schedule_info_list, get_training_schedule_info

- 'A‘ : 개설예정
- ‘B‘ : 진행중
- ‘C‘ : 미실시
- ‘D‘ : 수료자 없음
- 숫자 : 취업률

In [4]:
url_schedule = URL()
url_schedule.set_parameter({
    'authKey':os.getenv('HRD_API_KEY'),
    'returnType':'XML',
    'outType':'2',
    'srchTrprId':'AIG20210000346620',
    'srchTrprDegr':1
})

url_tr_lst = URL()
url_tr_lst.set_parameter({
    'authKey':os.getenv('HRD_API_KEY'),
    "returnType": "XML", 
    "outType": "1", 
    "pageNum": "1",  
    "pageSize": "10", 
    "sortCol": "TR_STT_DT", 
    "srchTraStDt": "19700101",  
    "srchTraEndDt": "20301231",
    "sort":'DESC'
})

In [5]:
# 구직자 훈련과정
url_schedule.set_url(TRAINING_FOR_JOB_HUNTER[INFO_TYPE['훈련일정']])
url_tr_lst.set_url(TRAINING_FOR_JOB_HUNTER[INFO_TYPE['목록']])

lst = get_training_list(url_tr_lst)
get_training_schedule_info_list(url_schedule,lst)

,3개월_고용보험_취업률(pct),3개월_고용보험_취업인원,6개월_고용보험_취업률(pct),6개월_고용보험_취업인원,6개월_고용보험_미가입_취업률(pct),6개월_고용보험_미가입_취업인원,훈련기관 코드,모집인원(정원),수강인원,총_훈련비,훈련_시작일,훈련_종료일,훈련과정_회차,훈련과정ID
0,A,None,A,None,0.0,0,1998333020700,26,0,5695890,2022-12-30,2023-06-29,1,AIG20210000337552
0,A,None,A,None,0.0,0,2007037513202,20,0,979750,2022-12-30,2023-02-24,2,AIG20210000354067
0,A,None,A,None,0.0,0,6208136408000,34,0,722400,2022-12-30,2023-02-13,9,AIG20210000346620
0,A,None,A,None,0.0,0,202100230,13,0,1940400,2022-12-29,2023-03-27,3,AIG20210000360556
0,A,None,A,None,0.0,0,9915000028300,30,0,1218700,2022-12-29,2023-02-08,1,AIG20210000334333
0,A,None,A,None,0.0,0,202100012,30,0,2305800,2022-12-27,2023-05-02,2,AIG20210000362125
0,A,None,A,None,0.0,0,9915000028300,30,0,1324220,2022-12-27,2023-02-07,3,AIG20210000336668
0,A,None,A,None,0.0,0,6208136408000,34,0,722400,2022-12-26,2023-02-07,8,AIG20210000346847
0,A,None,A,None,0.0,0,9913000060600,40,0,648000,2022-12-26,2023-02-07,6,AIG20210000346264
0,A,None,A,None,0.0,0,5139112183000,20,0,1439640,2022-12-26,2023-03-16,5,AIG20210000328171

In [5]:
# 근로자 훈련과정
url_schedule.set_url(TRAINING_FOR_WORKER[INFO_TYPE['훈련일정']])
url_tr_lst.set_url(TRAINING_FOR_WORKER[INFO_TYPE['목록']])

lst = get_training_list(url_tr_lst)
get_training_schedule_info_list(url_schedule,lst)

,3개월_고용보험_취업률(pct),3개월_고용보험_취업인원,6개월_고용보험_취업률(pct),6개월_고용보험_취업인원,6개월_고용보험_미가입_취업률(pct),6개월_고용보험_미가입_취업인원,훈련기관 코드,모집인원(정원),수강인원,총_훈련비,훈련_시작일,훈련_종료일,훈련과정_회차,훈련과정ID
0,None,None,None,None,None,None,2148897548000,500,0,50490,2023-04-20,2023-05-20,179,ACG20223000824720
0,None,None,None,None,None,None,2148897548000,100,0,129360,2023-04-20,2023-05-20,179,ACG20223000824717
0,None,None,None,None,None,None,2148897548000,500,0,62370,2023-04-20,2023-05-20,179,ACG20223000824713
0,None,None,None,None,None,None,2148897548000,200,0,104500,2023-04-20,2023-05-20,179,ACG20223000824711
0,None,None,None,None,None,None,2148897548000,500,0,47520,2023-04-20,2023-05-20,179,ACG20223000827088
0,None,None,None,None,None,None,2148897548000,100,0,190960,2023-04-20,2023-05-20,179,ACG20223000824721
0,None,None,None,None,None,None,2148897548000,500,0,83160,2023-04-20,2023-05-20,179,ACG20223000824719
0,None,None,None,None,None,None,2148897548000,100,0,129360,2023-04-20,2023-05-20,179,ACG20223000824716
0,None,None,None,None,None,None,2148897548000,500,0,50490,2023-04-20,2023-05-20,179,ACG20223000824712
0,None,None,None,None,None,None,2148897548000,200,0,71060,2023-04-20,2023-05-20,179,ACG20223000824710

In [6]:
# 기업 훈련과정
url_schedule.set_url(TRAINING_FOR_ENTERPRISE[INFO_TYPE['훈련일정']])
url_tr_lst.set_url(TRAINING_FOR_ENTERPRISE[INFO_TYPE['목록']])

lst = get_training_list(url_tr_lst)
get_training_schedule_info_list(url_schedule,lst)

,3개월_고용보험_취업률(pct),3개월_고용보험_취업인원,6개월_고용보험_취업률(pct),6개월_고용보험_취업인원,6개월_고용보험_미가입_취업률(pct),6개월_고용보험_미가입_취업인원,훈련기관 코드,모집인원(정원),수강인원,총_훈련비,훈련_시작일,훈련_종료일,훈련과정_회차,훈련과정ID
0,None,None,None,None,None,None,2007065549900,150,0,0,2023-01-02,2023-01-31,308,ABA20223000809947
0,None,None,None,None,None,None,2007065549900,150,0,0,2023-01-02,2023-01-31,355,ABA20213000806439
0,None,None,None,None,None,None,2007065549900,150,0,0,2023-01-01,2023-01-30,354,ABA20213000806439
0,None,None,None,None,None,None,2007065549900,150,0,0,2023-01-01,2023-01-30,307,ABA20223000809947
0,None,None,None,None,None,None,2007065549900,150,0,0,2022-12-31,2023-01-29,306,ABA20223000809947
0,None,None,None,None,None,None,2007065549900,150,0,0,2022-12-31,2023-01-29,353,ABA20213000806439
0,None,None,None,None,None,None,202100168,40,0,36110,2022-12-31,2022-12-31,30,AIG20210000336844
0,None,None,None,None,None,None,1998113292300,10,0,0,2022-12-31,2022-12-31,1,ABB20213000789559
0,None,None,None,None,None,None,2007065549900,150,0,0,2022-12-30,2023-01-28,352,ABA20213000806439
0,None,None,None,None,None,None,2007065549900,150,0,0,2022-12-30,2023-01-28,305,ABA20223000809947

In [7]:
# 중장년층 훈련과정
url_schedule.set_url(TRAINING_FOR_MIDDLE_AGED[INFO_TYPE['훈련일정']])
url_tr_lst.set_url(TRAINING_FOR_MIDDLE_AGED[INFO_TYPE['목록']])

lst = get_training_list(url_tr_lst)
get_training_schedule_info_list(url_schedule,lst)

,3개월_고용보험_취업률(pct),3개월_고용보험_취업인원,6개월_고용보험_취업률(pct),6개월_고용보험_취업인원,6개월_고용보험_미가입_취업률(pct),6개월_고용보험_미가입_취업인원,훈련기관 코드,모집인원(정원),수강인원,총_훈련비,훈련_시작일,훈련_종료일,훈련과정_회차,훈련과정ID
0,23.1,3,38.5,5,0.0,0,2000060357101,20,5,4163040,2020-01-29,2020-05-18,10,AIG20160000142407
0,42.9,3,42.9,3,14.3,1,1998466570500,20,0,4431000,2020-01-28,2020-07-13,6,AIG20160000127626
0,81.8,9,90.9,10,0.0,0,1358614600000,30,0,4375000,2019-12-26,2020-06-05,7,AIG20160000135043
0,35.3,6,58.8,10,11.8,2,2000060357101,20,0,4163040,2019-12-23,2020-04-17,9,AIG20160000142407
0,55.6,5,100.0,9,0.0,0,2002008380600,25,0,9125000,2019-11-26,2020-11-18,3,AIG20160000148188
0,25.0,2,62.5,5,0.0,0,2000060357101,20,0,4163040,2019-11-11,2020-03-02,8,AIG20160000142407
0,42.1,8,63.2,12,5.3,1,1358614600000,30,0,4375000,2019-10-15,2020-03-20,6,AIG20160000135043
0,16.7,2,41.7,5,8.3,1,1109185906000,20,0,6208300,2019-10-14,2020-05-28,6,AIG20160000151751
0,21.4,3,50.0,7,0.0,0,1998293858500,20,0,5203800,2019-09-30,2020-03-18,6,AIG20160000148640
0,8.3,1,16.7,2,25.0,3,9090142277100,20,0,4278540,2019-09-16,2020-02-05,9,AIG20160000130800

In [8]:
url_schedule.set_parameter({'srchTrprDegr':None})
get_training_schedule_info(url_schedule,'AIG20210000346620')

,3개월_고용보험_취업률(pct),3개월_고용보험_취업인원,6개월_고용보험_취업률(pct),6개월_고용보험_취업인원,6개월_고용보험_미가입_취업률(pct),6개월_고용보험_미가입_취업인원,훈련기관 코드,모집인원(정원),수강인원,총_훈련비,훈련_시작일,훈련_종료일,훈련과정_회차,훈련과정ID
0,D,None,B,None,0.0,0,9090142277100,20,0,4278540,None,None,0,AIG20210000346620
1,14.3,1,28.6,2,57.1,4,9090142277100,20,0,4278540,2017-03-22,2017-09-18,1,AIG20210000346620
2,5.3,1,26.3,5,0.0,0,9090142277100,20,0,4278540,2017-12-06,2018-04-19,2,AIG20210000346620
3,5.6,1,11.1,2,50.0,9,9090142277100,20,0,4278540,2018-01-24,2018-06-08,3,AIG20210000346620
4,10.5,2,10.5,2,21.1,4,9090142277100,20,0,4278540,2018-05-03,2018-09-14,4,AIG20210000346620
5,11.1,2,16.7,3,27.8,5,9090142277100,20,0,4278540,2018-05-24,2018-10-24,5,AIG20210000346620
6,11.1,2,16.7,3,38.9,7,9090142277100,20,0,4278540,2018-06-20,2018-11-08,6,AIG20210000346620
7,12.5,2,31.3,5,25.0,4,9090142277100,20,0,4278540,2018-10-26,2019-03-19,7,AIG20210000346620
8,0.0,0,0.0,0,23.5,4,9090142277100,20,0,4278540,2019-06-10,2019-10-29,8,AIG20210000346620
9,8.3,1,16.7,2,25.0,3,9090142277100,20,0,4278540,2019-09-16,2020-02-05,9,AIG20210000346620

In [9]:
import pandas as pd

get_training_schedule_info_list(url_schedule,pd.DataFrame({
    '훈련과정ID':['AVA20223000828644','AVA20223000828648','AVA20223000830860'],
    '훈련과정_순차':[None,'7','21']
}))

,3개월_고용보험_취업률(pct),3개월_고용보험_취업인원,6개월_고용보험_취업률(pct),6개월_고용보험_취업인원,6개월_고용보험_미가입_취업률(pct),6개월_고용보험_미가입_취업인원,훈련기관 코드,모집인원(정원),수강인원,총_훈련비,훈련_시작일,훈련_종료일,훈련과정_회차,훈련과정ID
0,D,None,B,None,0.0,0,2003035159800,500,0,0,None,None,0,AVA20223000828644
1,B,None,B,None,0.0,0,2003035159800,500,0,0,2022-04-29,2022-05-26,1,AVA20223000828644
2,B,None,B,None,0.0,0,2003035159800,500,0,0,2022-05-13,2022-06-09,2,AVA20223000828644
3,A,None,A,None,0.0,0,2003035159800,500,0,0,2022-05-20,2022-06-16,3,AVA20223000828644
4,A,None,A,None,0.0,0,2003035159800,500,0,0,2022-05-27,2022-06-23,4,AVA20223000828644
5,A,None,A,None,0.0,0,2003035159800,500,0,0,2022-06-03,2022-06-30,5,AVA20223000828644
6,A,None,A,None,0.0,0,2003035159800,500,0,0,2022-06-10,2022-07-07,6,AVA20223000828644
7,A,None,A,None,0.0,0,2003035159800,500,0,0,2022-06-17,2022-07-14,7,AVA20223000828644
8,A,None,A,None,0.0,0,2003035159800,500,0,0,2022-06-24,2022-07-21,8,AVA20223000828644
9,A,None,A,None,0.0,0,2003035159800,500,0,0,2022-07-01,2022-07-28,9,AVA20223000828644
10,A,None,A,None,0.0,0,2003035159800,500,0,0,2022-07-08,2022-08-04,10,AVA20223000828644
11,A,None,A,None,0.0,0,2003035159800,500,0,0,2022-07-15,2022-08-11,11,AVA20223000828644
12,A,None,A,None,0.0,0,2003035159800,500,0,0,2022-07-22,2022-08-18,12,AVA20223000828644
13,A,None,A,None,0.0,0,2003035159800,500,0,0,2022-07-29,2022-08-25,13,AVA20223000828644
14,A,None,A,None,0.0,0,2003035159800,500,0,0,2022-08-05,2022-09-01,14,AVA20223000828644
15,A,None,A,None,0.0,0,2003035159800,500,0,0,2022-08-12,2022-09-08,15,AVA20223000828644
16,A,None,A,None,0.0,0,2003035159800,500,0,0,2022-08-19,2022-09-15,16,AVA20223000828644
17,A,None,A,None,0.0,0,2003035159800,500,0,0,2022-08-26,2022-09-22,17,AVA20223000828644
18,A,None,A,None,0.0,0,2003035159800,500,0,0,2022-09-02,2022-09-29,18,AVA20223000828644
19,A,None,A,None,0.0,0,2003035159800,500,0,0,2022-09-09,2022-10-06,19,AVA20223000828644
20,A,None,A,None,0.0,0,2003035159800,500,0,0,2022-09-16,2022-10-13,20,AVA20223000828644
21,A,None,A,None,0.0,0,2003035159800,500,0,0,2022-09-23,2022-10-20,21,AVA20223000828644
22,A,None,A,None,0.0,0,2003035159800,500,0,0,2022-09-30,2022-10-27,22,AVA20223000828644
23,A,None,A,None,0.0,0,2003035159800,500,0,0,2022-10-07,2022-11-03,23,AVA20223000828644
24,A,None,A,None,0.0,0,2003035159800,500,0,0,2022-10-14,2022-11-10,24,AVA20223000828644
25,A,None,A,None,0.0,0,2003035159800,500,0,0,2022-10-21,2022-11-17,25,AVA20223000828644
26,A,None,A,None,0.0,0,2003035159800,500,0,0,2022-10-28,2022-11-24,26,AVA20223000828644
0,A,None,A,None,0.0,0,2003035159800,500,0,0,2022-07-22,2022-08-18,7,AVA20223000828648
0,A,None,A,None,0.0,0,2003014385101,500,0,0,2022-09-30,2022-10-27,21,AVA20223000830860